
			<!--================================ Footer start ===========================  -->
			<footer class="footer tran5s wow fadeInUp">
				<div class="footer_wapper pt-100 md-pt-30 pb-50">
				  <div class="container">
					<div class="footer_content">
					  <div class="row">
						<div class="col-lg-3">
						  <div class="footer_item1">
								<div class="footer_logo">
								<a href=""><img src="images/logo/logo.png" alt="" class="img-fluid"></a>
								</div>
								<h6 class="fs-24 color-two pt-30 pb-30">Say Hello!</h6>
								<span class="fs-22">Discover our app</span>
								<div class="app_store pt-30">
									<a href=""><img src="images/footer/footer-01.png" alt="" class="img-fluid"> </a>
									<a href=""><img src="images/footer/footer-02.png" alt="" class="img-fluid"></a> 
								</div>
						  </div>
						</div>
						<div class="col-lg-3">
						  <div class="footer_item2 mt-20 md-mt-30">
							<h6 class="fs-22  color-two opacity-two pb-30 md-pb-10">Links</h6>
							<ul>
							  <li><a href="about-us">About us</a></li>
							  <li><a href="team">Meet our team</a></li>
							  <li><a href="case-details">Case stories</a></li>
							  <li><a href="blog-details">Latest news</a></li>
							  <li><a href="contact">Contact</a></li>
							</ul>
						  </div>
						</div>
						<div class="col-lg-3">
						  <div class="footer_item3 mt-20 md-mt-30">
							<h6 class="fs-22  color-two opacity-two pb-30 md-pb-10">Other Link</h6>
							<ul>
							  <li><a href="faq">Faq</a></li>
							  <li><a href="about-us">Tearm of user</a></li>
							  <li><a href="faq">Disclaimer</a></li>
							  <li><a href="service-details">Privacy  Policy</a></li>
							</ul>
						  </div>
						</div>
						<div class="col-lg-3 mt-20 md-mt-30">
						    <div class="footer_item4">
								<ul>
									<li><a href=""><i class="fab fa-facebook-f"></i></a></li>
									<li><a href=""><i class="fab fa-instagram"></i></a></li>
									<li><a href=""><i class="fab fa-twitter"></i></a></li>
								</ul>
								<p class="pt-30 pb-10 md-pt-10">( 800 ) 160-616481</p>
								<p><a class="email-link" href="">needhelp@site.com</a></p>
								<div class="footer-shape mt-20"></div>
								<p class="mt-20">185 10h Street, Office 272 Berlin, De 21562</p>
						    </div>
						</div>
					  </div>
					</div><!-- main footer end -->
	  
					<div class="row mt-100 md-mt-30">
						<div class="col-lg-3 md-mb-30"><p>All rights reserved 2023 @mr</p></div>
						<div class="col-lg-3 offset-lg-6">
							<a href="" class="term-policy">Terms of use</a>
							<a href="" class="term-policy">Privacy Policy</a>
						</div>
					</div>
				  </div>
				</div>
			</footer>
			<!-- ============================== Footer end    ============================ -->
			<button class="scroll-top">
				<i class="bi bi-arrow-up-short"></i>
			</button>

		<!-- Optional JavaScript   -->
    	<!-- jQuery first, then Bootstrap JS -->
    	<!-- jQuery -->
		<script src="vendor/jquery.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<!-- circle progress bar -->
		<script src="vendor/circle-progress.min.js"></script>
		<!-- Slick Slider -->
		<script src="vendor/slick/slick.min.js"></script>
		<!-- js Counter -->
		<script src="vendor/jquery.counterup.min.js"></script>
		<!-- jquery.sidebar.min.js -->
		<script src="vendor/jquery.sidebar.min.js"></script>
		<!-- waypoints  -->
		<script src="vendor/jquery.waypoints.min.js"></script>
		<!-- jquery.magnific-popup.min.js -->
		<script src="js/jquery.magnific-popup.min.js"></script>
		<!-- Nice Select -->
		<script src="vendor/nice-select/jquery.nice-select.min.js"></script>
		<!-- wow js -->
		<script src="vendor/wow.min.js"></script>
		<!-- Theme js -->
		<script src="js/theme.js"></script>
		<script src="js/main.js"></script>
		</div> <!-- /.main-page-wrapper -->
	</body>
</html>