<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="IT, Technology, online bussines, Ecommerce, Shop,Digital Marketing">
		<meta name="description" content="Andeo - Hosting Service HTML5 Template for all kinds of IT, Technology, online bussines, Ecommerce, Shop,website ,Digital Marketing">
      	<meta property="og:site_name" content="Andeo">
      	<meta property="og:url" content="https://sayfurrahaman.com/">
      	<meta property="og:type" content="website">
      	<meta property="og:title" content="Andeo - Creative Digital Marketing  HTML5 Template">
		<meta name="og:image" content="images/assets/ogg.png">
		<!-- For IE -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!-- For Resposive Device -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- For Window Tab Color -->
		<!-- Chrome, Firefox OS and Opera -->
		<meta name="theme-color" content="#6dbfb8">
		<!-- Windows Phone -->
		<meta name="msapplication-navbutton-color" content="#6dbfb8">
		<!-- iOS Safari -->
		<meta name="apple-mobile-web-app-status-bar-style" content="#6dbfb8">
		<title>Andeo - Creative Digital Marketing  HTML5 Template</title>
		<!-- Favicon -->
		<link rel="icon" type="image/png" sizes="72x33" href="images/fabicon.png">
		<!-- Main style sheet -->
		<link rel="stylesheet" type="text/css" href="css/style.css" media="all">
		<!-- responsive style sheet -->
		<link rel="stylesheet" type="text/css" href="css/responsive.css" media="all">

		<!-- Fix Internet Explorer ______________________________________-->
		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<script src="vendor/html5shiv.js"></script>
			<script src="vendor/respond.js"></script>
		<![endif]-->	
	</head>