<body>
    <div class="main-page-wrapper">
        <!-- ===================================================
            Loading Transition
        ==================================================== -->
        <div id="preloader">
            <div id="andeo-preloader" class="andeo-preloader">
                <div class="animation-preloader">
                  <h1>ANDEO</h1>
                </div>	
            </div>
        </div>
        <!--=========================header html start  1=================================  -->
        <div class="theme-main-menu sticky-menu theme-menu-one tran5s wow fadeInUp">
            <div class="inner-content">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex logo order-lg-0"><a href="/" class="d-block"><img src="images/logo/logo.png" alt=""></a></div>
                    <div class="right-wiget ms-auto d-lg-flex align-items-center justify-content-center order-lg-3 ">
                         <div class="grid-icon" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><a href="#"><img src="images/icon/grid.svg" alt=""></a></div>
                        <div class=""><a class="custom-btn-one" href="contact">Contact Us</a></div>
                    </div>
                     <!-- ================================================
                                          nav bar start
                     ================================================ -->
                    <div class="left-wiget">
                        <nav class="navbar navbar-expand-lg order-lg-2">
                          <button class="navbar-toggler d-block d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span></span>
                          </button>
                          <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="finder"> Finder</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="services"> Services</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="about-us">About Us</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="blog">Blog</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                       My Account
                                        </a>
                                        <ul class="dropdown-menu tran3s">
                                            <li><a class="dropdown-item" href="login">Login</a></li>
                                            <li><a class="dropdown-item" href="register">Rgister</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                
                                <div class="right-wiget md-mt-30 d-flex align-items-center order-lg-3 d-lg-none ">
  
                                   <div class=""><a class="custom-btn-one position-relative" href="contact">Contact Us</a></div>
                                </div>
                           </div>
                        </nav>
                    </div>
                        <!-- //header nav  -->
                      <!-- ================================================
                                          nav bar start
                ================================================ -->
                </div>
            </div>
        </div>
        <!-- =======================header html end===================================== -->

        <!-- ==========================top aside start ==================================================-->
        <div class="top-aside tran3s wow fadeInUp">
            <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTop">
                <div class="offcanvas-header">
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div class="search-wrap">
                        <form>
                            <input type="text" class="main-search-input" placeholder="Search Your Keyword...">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- RIGHT GRID  ASIDE -->
        <div class="right-aside tran3s wow fadeInUp">
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRight">
                <div class="offcanvas-header">
                    <div class="d-flex logo order-lg-0"><a href="" class="d-block"><img src="images/logo/logo.png" alt=""></a></div>
                  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"><i class="bi bi-x-square-fill"></i></button>
                </div>
                <div class="offcanvas-body">
                    <div class="info-widget">
                        <h6 class="color-two mb-20">About Us</h6>
                        <p class="mb-30">
                            We work with forward-thinking companies to craft and produce impactful solutions through website & mobile app experiences.
                            You will work closely with skilled Dolor in reprehenderit in voluptate velit esse cillum.
                        </p>
                    </div>
                    <div class="info-widget info-widget2">
                        <h6 class="color-two mb-20">Contact Us</h6>
                        <p>
                            <i class="bi bi-geo-alt"></i>
                            3739 Balboa Street, San Francisco, CA 94121</p>
                        <p>
                            <i class="bi bi-telephone"></i>
                            +0989 7876 9865 9
                        </p>
                        <p>
                            <i class="bi bi-envelope-open"></i>
                            hello@templatemr.com
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- RIGHT GRID  ASIDE -->
        <!-- ==========================aside start ==================================================-->