<%- include('partials/head', {page: 'Home'}) %>
<%- include('partials/header', {page: 'Home'}) %>	

 <!--================================faq end ===========================  -->
          <div class="banner-about page-error md-pt-50 tran5s wow fadeInUp">
            <div class="container pt-200 pb-180 md-pt-100 md-pb-90">
                <div class="row d-flex align-items-center">
                    <div class="text-center">
                        <h2 class="h2 mb-30 position-relative">404</h2>
                        <span>Oops... </span>
                        <p class="mb-60"><a href="" class="">The page you are looking for does not exist.</a></p>
                        <form class="search-form position-relative d-flex align-items-center">
                            <input type="text" placeholder="Search">
                            <a href=""><img src="images/icon/search-02.svg" alt=""></a>
                        </form>
                        <div class="mt-60"><a href="" class="custom-btn-one">Back to Home</a></div>
                    </div>
                </div>
            </div>
        </div>
        <!--================================faq end ===========================  -->
<%- include('partials/footer', {page: 'Home'}) %>
