<%- include('partials/head', {page: 'Home'}) %>
<%- include('partials/header', {page: 'Home'}) %>	
			<!--================================banner section start ===========================  -->
            <div class="banner-about md-pt-50 tran5s wow fadeInUp" style="background: linear-gradient(90deg, #7B7B7B 0%, rgba(84, 81, 81, 0.73) 23.44%, rgba(27, 25, 25, 0.00) 100%), url('images/banner/banner-03.png') center center no-repeat;">
                <div class="container pt-286 pb-170 md-pt-150 md-pb-90">
                    <div class="row d-flex align-items-center">
                        <div class="text-center">
                            <h2 class="h2 mb-20 md-mb-10 position-relative">Contact us</h2>
                            <p class=""><a href="" class="">Home - Contact</a></p>
                        </div>
                    </div>
                </div>
            </div>

			<!--================================banner section end ===========================  -->

			<!--================================about section start ===========================  -->
			<!--================================about section end ===========================  -->

            <!--================================contact form end ===========================  -->
            <div class="contact-form pt-120 md-pt-40 position-relative tran5s wow fadeInUp">
                <div class="contact-form-rapper">
                    <section class="about-three">
                        <div class="container">
                            <div class="row d-flex align-items-center justify-content-center">
                                <div class="text-rapper text-center">
                                    <h4 class="mb-30">Feel free to contact us or just say hi!</h4>
                                    <p>We are here to answer any question you may have.</p>
                                </div>
                            </div>
                            <div class="my-form position-relative">
                                <form>
                                    <div class="row g-lg-4 ms-auto">
                                        <div class="col-lg-6 mb-60 position-relative">
                                            <input class="input-one" type="text" name="name">
                                            <span class="input-one-text" data-placeholder="First Name*"></span>
                                        </div>
                                        <div class="col-lg-6 mb-60 position-relative">
                                            <input class="input-one" type="text" name="name">
                                            <span class="input-one-text" data-placeholder="Last Name*"></span>
                                        </div>
                                        <div class="col-lg-6 mb-60 position-relative">
                                            <input class="input-one" type="text" name="name">
                                            <span class="input-one-text" data-placeholder="Your Email*"></span>
                                        </div>
                                        <div class="col-lg-6 mb-60 position-relative">
                                            <input class="input-one" type="text" name="name">
                                            <span class="input-one-text" data-placeholder="Subject"></span>
                                        </div>
                                        <div class="col-lg-12 mb-60 position-relative">
                                            <input class="input-two" type="text" name="name">
                                            <span class="input-two-text" data-placeholder="Subject"></span>
                                        </div>
                                    </div>
                                    <div class="sent-massage">
                                        <a href="" class="custom-btn-one">Send a message</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <!--================================contact form end ===========================  -->
            <div class="my-contact pt-120 pb-120 md-pt-100 md-pb-60">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-lg-7">
                            <div class="left-content md-mb-50">
                                <div class="mb-20"><h5 class="h5 fw-700">Join our team to create the best digital business solutions.</h5></div>
                                <div class="mb-30"><p class="">Something different Ready to get started</p></div>
                                <div class=""><a href="" class="custom-btn-one">Free Consulting <i class="bi bi-chevron-right"></i></a></div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="right-content">
                                <div class="mb-20"><h6>Contact Details</h6></div>
                                <div class="mb-20"><p class=""><i class="bi bi-geo-alt"></i> 3739 Balboa Street, San Francisco, CA 94121</p></div>
                                <div class="mb-20"><p class=""><i class="bi bi-telephone"></i> Email: hello@templatemr.com</p></div>
                                <div class=""><p class=""><i class="bi bi-envelope-open"></i> Phone: +88 016 5941 101</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <%- include('partials/footer', {page: 'Home'}) %>