<%- include('partials/head', {page: 'Home'}) %>
<%- include('partials/header', {page: 'Home'}) %>	
			<!--================================banner section start ===========================  -->
            <div class="banner-about tran5s wow fadeInUp" style="background: linear-gradient(90deg, #7B7B7B 0%, rgba(84, 81, 81, 0.73) 23.44%, rgba(27, 25, 25, 0.00) 100%), url('images/banner/banner-05.png') center center no-repeat;">
                <div class="container pt-286 pb-170 md-pt-150 md-pb-90">
                    <div class="row d-flex align-items-center">
                        <div class="text-center">
                            <h2 class="h2 mb-20 md-mb-10 position-relative">Our Service</h2>
                            <p class=""><a href="" class="">Home - Services</a></p>
                        </div>
                    </div>
                </div>
            </div>

			<!--================================banner section end ===========================  -->

            <!--================================our offer section  two start ===========================  -->
			<section class="our-offer-one our-offer-three position-relative tran5s wow fadeInUp">
				<div class="container">
					<div class="offer-rapper-one position-relative pt-80 pb-80 md-pt-40 md-pb-40">
						<div class="shape_001"></div>
						<div class="shape_002"></div>
						<div class="shape_003"></div>
						<div class="text-center mb-80 md-mb-40">
							<div class=""><span class="span-two">WHAT WE OFFER</span></div>
							<div class=""><h4 class="heading_shape position-relative h4 fw-700 pt-30">What We’re Offering Creative <br> Digital Service</h4></div>
						</div>
						<div class="row">
							<div class="col-lg-4 col-md-6 mb-30">
								<div class="offer-one pt-40 pb-40 pl-40 pr-40">
									<div class="offer-pic d-flex align-items-center justify-content-between mb-30">
										<img src="images/icon/offer_05.svg" alt="" class="">
										<div class=""><a href="" class="offer-link"> <img src="images/icon/arrow_01.svg" alt="" class=""></a></div>
									</div>
									<div class="mb-30"><h6 class="h6 fw-700"><a href="service-details" class="">Project strategy</a></h6></div>
									<div class="mb-30"><p class="fs-16">Need something changed or is there something not quite working Aellente humour or randomised words</p></div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6 mb-30">
								<div class="offer-one pt-40 pb-40 pl-40 pr-40">
									<div class="offer-pic d-flex align-items-center justify-content-between mb-30">
										<img src="images/icon/offer_01.svg" alt="" class="">
										<div class=""><a href="" class="offer-link"> <img src="images/icon/arrow_01.svg" alt="" class=""></a></div>
									</div>
									<div class="mb-30"><h6 class="h6 fw-700"><a href="service-details" class="">Digital Experience</a></h6></div>
									<div class="mb-30"><p class="fs-16">Need something changed or is there something not quite working Aellente humour or randomised words</p></div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6 mb-30">
								<div class="offer-one pt-40 pb-40 pl-40 pr-40">
									<div class="offer-pic d-flex align-items-center justify-content-between mb-30">
										<img src="images/icon/offer_06.svg" alt="" class="">
										<div class=""><a href="" class="offer-link"> <img src="images/icon/arrow_01.svg" alt="" class=""></a></div>
									</div>
									<div class="mb-30"><h6 class="h6 fw-700"><a href="service-details" class="">Web Development</a></h6></div>
									<div class="mb-30"><p class="fs-16">Need something changed or is there something not quite working Aellente humour or randomised words</p></div>
								</div>
							</div>
                            <div class="col-lg-4 col-md-6 mb-30">
								<div class="offer-one pt-40 pb-40 pl-40 pr-40">
									<div class="offer-pic d-flex align-items-center justify-content-between mb-30">
										<img src="images/icon/offer_07.svg" alt="" class="">
										<div class=""><a href="" class="offer-link"> <img src="images/icon/arrow_01.svg" alt="" class=""></a></div>
									</div>
									<div class="mb-30"><h6 class="h6 fw-700"><a href="service-details" class="">Graphic Design</a></h6></div>
									<div class="mb-30"><p class="fs-16">Need something changed or is there something not quite working Aellente humour or randomised words</p></div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6 mb-30">
								<div class="offer-one pt-40 pb-40 pl-40 pr-40">
									<div class="offer-pic d-flex align-items-center justify-content-between mb-30">
										<img src="images/icon/offer_08.svg" alt="" class="">
										<div class=""><a href="" class="offer-link"> <img src="images/icon/arrow_01.svg" alt="" class=""></a></div>
									</div>
									<div class="mb-30"><h6 class="h6 fw-700"><a href="service-details" class="">Content Marketing</a></h6></div>
									<div class="mb-30"><p class="fs-16">Need something changed or is there something not quite working Aellente humour or randomised words</p></div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6 mb-30">
								<div class="offer-one pt-40 pb-40 pl-40 pr-40">
									<div class="offer-pic d-flex align-items-center justify-content-between mb-30">
										<img src="images/icon/offer_09.svg" alt="" class="">
										<div class=""><a href="" class="offer-link"> <img src="images/icon/arrow_01.svg" alt="" class=""></a></div>
									</div>
									<div class="mb-30"><h6 class="h6 fw-700"><a href="service-details" class="">Reporting & Analysis</a></h6></div>
									<div class="mb-30"><p class="fs-16">Need something changed or is there something not quite working Aellente humour or randomised words</p></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--================================our offer section  two end ===========================  -->
            <!--================================testimonial slider start ===========================  -->
			<div class="testimonial-two position-relative mb-100 md-mb-50 pt-120 md-pt-60 tran5s wow fadeInUp">
				<div class="container">
					<div class="position-relative"><img src="images/shape/shape-08.svg" alt="" class="shapes shape-08"></div>
					<div class="row">
						<div class="col-lg-5">
							<div class="left-content md-mb-60">
								<div class=""><span class="span-two">Testimonial</span></div>
								<div class=""><h4 class="h4 fw-700 pt-20 position-relative">What <br> People Say</h4></div>
							</div>
						</div>
						<div class="col-lg-6 offset-lg-1">
							<div class="testimonial-slider-two" id="testimonial-slider-two">
								<div class="item">
									<div class="right-content">
										<div class=""><h6 class="h6 fw-600 pb-20">Great Work</h6></div>
										<div class=""><p class="pb-20 fs-30 fw-400 opacity">We've worked with Make to redesign our public and media website. Lorem ipsum is simply free text available in the market adipisicing elit sed</p></div>
										<div class="d-flex align-items-center pt-20">
											<div class=""><img src="images/slider/slider-07.png" alt="" class="rounded"></div>
											<div class="pl-20"><span class="fs-20 fw-600">Mahfuz Riad</span><br><span class="fs-14">Chief Ux Designer</span></div>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="right-content">
										<div class=""><h6 class="h6 fw-600 pb-20">Great Work</h6></div>
										<div class=""><p class="pb-20 fs-30 fw-400 opacity">We've worked with Make to redesign our public and media website. Lorem ipsum is simply free text available in the market adipisicing elit sed</p></div>
										<div class="d-flex align-items-center pt-20">
											<div class=""><img src="images/slider/slider-07.png" alt="" class="rounded"></div>
											<div class="pl-20"><span class="fs-20 fw-600">Mahfuz Riad</span><br><span class="fs-14">Chief Ux Designer</span></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--================================testimonial slider start ===========================  -->

            <!--================================our-video two start ===========================  -->
			<section class="our-video md-mb-60 position-relative tran5s wow fadeInUp">
				<div class="container pt-200 md-pt-100 pb-160 md-pb-80">
					<div class="text-center">
						<h5 class="color-two pb-80">Making Your Business Unique</h5>
						<div class=""><a href="https://www.youtube.com/watch?v=BJ2BG1Af8cc" class="watch-video play-button"><i class="bi bi-play-fill"></i></a></div>
					</div>
				</div>
			</section>
			<!--================================our-video two end ===========================  -->

			<%- include('partials/footer', {page: 'Home'}) %>